@charset "utf-8";
/*email password*/
.email{
    font-size: 20px;
    font-weight: bold;
    margin: 30px 10px 0px;
}
.password{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 10px 0px;
}
.input{
    background-color: rgb(243, 242, 248);
    margin: 0px 10px 0px;
    border-radius: 5px;
    opacity: 0.8;
}

.section-secondary{
    color: white;
    background-color: #070a30;
    padding: 50px;
}
.section-headline{
    font-size: 40px;
    font-weight: bold;
    margin: 0 10px 40px;
}

.form-button{
    margin: 10px 0 0 0;
    padding: 10px;
}

.sign{
    margin: 0px 10px 0px;
}
@media screen and (max-width: 768px){
    .section{
        padding: 20px 10px;
    }
    .section-headline{
        font-size: 30px;
        margin: 0 0 20px;
    }
    .section-button{
        margin: 20px 0 0;
    }
}